* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.title {
    color: green;
    font-size: 40px;
    margin-left: 20px;
    font-weight: bold;
}



a {
    text-decoration: none;
    margin-top: 20px;
    background-color: #000000;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    float: right;
    margin-right: 60px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}



header {
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
}



.Subject {
    font-weight: bold;
    font-size: 40px;
    padding-left: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
}



.container {
    background-color: antiquewhite;
}




.table-container {
    display: flex;
    justify-content: center;
}



table {
    width: 90%;
    border-collapse: collapse;
    border: 1;
}


table td,
th {
    border: 1px solid rgb(122, 122, 122);
    text-align: center;
    padding: 20px;
}



table th {
    font-size: 20px;
}



body {
    height: 100vh;
}



footer {
    text-align: center;
    font-size: 15;
    margin-top: 75px;
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}