* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: rgb(22, 22, 22);
    color: white;
}


.title {
    color: green;
    font-size: 40px;
    margin-left: 20px;
    font-weight: bold;
}



a {
    text-decoration: none;
    margin-top: 20px;
    background-color: #fff;
    font-size: 20px;
    color: black;
    font-weight: lighter;
    float: right;
    margin-right: 60px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}



header {
    background-color: rgb(36, 36, 36);
    padding-top: 10px;
}



.Subject {
    font-weight: bold;
    font-size: 40px;
    padding-left: 50px;
    margin-bottom: 30px;
    margin-top: 30px;

}




.table-container {
    display: flex;
    justify-content: center;

}



table {
    width: 90%;
    border-collapse: collapse;
    border: 1;
}



table td,
th {
    border: 1px solid rgb(122, 122, 122);
    text-align: center;
    padding: 20px;

}



table th {
    font-size: 20px;
}



footer {
    text-align: center;
    font-size: 15;
    margin-top: 75px;
    background-color: rgb(36, 36, 36);
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}